<!DOCTYPE html>
<html lang="en">
<body>
<!-- ------- header ------- -->
<th:block th:fragment="header_home">
    <div class="header">
        <div class="container">
            <div class="navbar navbar-product">
                <div class="logo">
                    <a href="/home"><img src="images/logo-home.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products/0/page/1">Products</a></li>

                        <th:block th:if="${session.account != null}">
                            <li><a href="/profile">Hello [[${session.info.fullname}]]</a></li>
                            <li><a href="/logout">Log out</a></li>
                        </th:block>

                        <th:block th:if="${session.account == null}">
                            <li><a href="/login">Log in</a></li>

                        </th:block>
                    </ul>
                </nav>
                <div style="position: relative">

                    <a href="/cart"><img src="images/cart.png" width="30px" height="30px" style="margin-right: 10px;">
                        <th:block th:if="${count > 0}">
                            <span class="cart-badge" style="color: black; position: absolute; bottom: 0; right: 0">[[${count}]]</span>
                        </th:block>
                    </a>


                </div>

                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">

            </div>


            <div class="row">
                <div class="col-2">
                    <h1>Feed Your Hunger<br>A New Taste!</h1>
                    <p>Delicious moments aren't just about flavors. It's about consistency.<br>Consistent quality brings
                        satisfaction. Great taste will follow.</p>
                    <a href="/products/0/page/1" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="images/fast-food.png">
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- -------End header ------- -->
</body>
</html>